.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  margin: 0px auto;
  background: var(--hero-background-color);
  background-image: var(--gradient), url(../images/mob_img/hero_bg_mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 320px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: var(--gradient), url(../images/mob_img/hero_bg_mob_2x.jpg);
  }

  @include tablet {
    min-width: 768px;
    background-image: var(--gradient), url(../images/tab_img/hero_bg_tab.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: var(--gradient),
        url(../images/tab_img/hero_bg_tab_2x.jpg);
    }
  }
  @include desktop {
    background-image: var(--gradient), url(../images/desc_img/hero_bg_desk.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: var(--gradient),
        url(../images/desc_img/hero_bg_desk_2x.jpg);
    }
  }
}
.hero__title {
  @include font(26, 1.61, 900, 0.06);
  text-transform: uppercase;
  color: var(--text-color);
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
    @include font(44, 1.36, 900, 0.06);
    max-width: 696px;
  }
}
.hero__button {
  @include font(16, 1.87, 700, 0.06);
  font-family: inherit;
  background: var(--button-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  color: var(--text-color);
  cursor: pointer;
  border-color: transparent;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    background-color: var(--accent-button-background-color);
  }
}
