.section-title {
  @include font(28, 1.17, 700, 0.03);
  text-align: center;
  color: var(--main-text-color);
  
  margin-bottom: 30px;
  @include desktop{
    margin-bottom: 50px;
    @include font(36, 1.16, 700, 0.03);
  }
}
