:root {
    --main-text-color: #212121;
    --title-text-color: #757575;
    --accent-text-color: #2196f3;
    --text-color: #ffffff;
    --main-background-color: #ffffff;
    --background-color: #f5f4fa;
    --footer-background-color: #2f303a;
    --button-background-color: #2196f3;
    --accent-button-background-color: #188ce8;
    --accent-button-filter-background-color: #2196f3;
    --hero-background-color: #c4c4c4;
    --addres-link-color: rgba(255, 255, 255, 0.6);
    --accent-client-color: #2196f3;
    --client-color: #afb1b8;
    --icon-color: #ffffff;
    --checkbox-color: #2196f3;
    --accent-user-icon: #2196f3;
    --accent-border-color: #2196f3;
    --gradient: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    )
  }